@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.8%;
}
body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: "a a a b c"
                         "d e e e c"; /*a=daniel b =jonathan c=kira d=jean e= patrick*/
    gap: 10px;
}
article{
    padding: 1em;
    border-radius: 10px;
}
.profile img{
    border-radius: 50%;
}
.name,.experience{
    color: hsl(0, 0%, 81%);
}
.ver{
    color: hsl(0, 0%, 50%);
}
.quote{
    color: hsl(0, 0%, 70%);
}
.child1{
    background-color: hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    background-position: 80px;
    grid-area: a;
}
.for-bgImage{
    position: relative;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 90% 0px;
}
.child2{
    background-color: hsl(217, 19%, 35%);
    grid-area: b;
}
.child3{
    background-color: hsl(0, 0%, 100%);
    grid-area: d;
}
.child4{
    background-color: hsl(219, 29%, 14%);
    grid-area: e;
}
.child5{
    background-color: hsl(0, 0%, 100%);
    grid-area: c;
}
.profile{
    display: flex;
    align-items: center;
    gap: .65em;
}
footer{
    margin-top: 30px;
    font-size: 11px; text-align: center; 
}
footer a{
    text-decoration: none;
  
}
@media screen and (max-width:400px) {
    #grid-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "a"
                            "b"
                            "d"
                            "e"
                            "c" ;
    }
}